<div class="container">
  <div class="titol">
    <h1>Llistat de membres</h1>
    <hr>
  </div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Cognoms</th>
            <th>Telefòn</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let membre of membres; let i = index">
            <td>{{membre?.nom}}</td>
            <td>{{membre?.cognoms}}</td>
            <td>{{membre?.telefon}}</td>
            <td>{{membre?.email}}</td>
            <td>
              <span style="cursor: pointer;" class="glyphicon glyphicon-list-alt" [routerLink]="['/membres', membre?._id]"></span>
              <span style="cursor: pointer;" class="glyphicon glyphicon-remove" (click)="onDeleteMembre(membre?._id)"></span>
            </td>
          </tr>
        </tbody>
      </table>
        </div>
  </div>
</div>
