<h1>Llistat de membres</h1>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Cognoms</th>
            <th>Telefòn</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--LOOP per cada membre actiu -->
          <tr>

            <td>John Pepito</td>
            <td>Doe Dungar</td>
            <td>99999999999</td>
            <td>john@example.com</td>
            <td>
              <span class="glyphicon glyphicon-list-alt"></span>
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="glyphicon glyphicon-remove"></span>
            </td>
            <td><a href="#"><img src="http://via.placeholder.com/30x30"></a></td>
          </tr>
        </tbody>
      </table>
        </div>
  </div>
</div>
