<div class="container">
  <div class="titol">
    <h1>Llistat claus disponibles</h1>
    <hr>
  </div>
  <app-alert-message titol="{{alertMessage.titol}}" missatge="{{alertMessage.missatge}}" tipus="{{alertMessage.tipus}}" *ngIf="this.alertMessage.mostra" (showAlert)="onShowAlertMessage($event)"></app-alert-message>
  <ul class="list-group" *ngIf="claus?.length > 0">
    <li class="list-group-item" *ngFor="let clau of claus">
      <div class="row row-eq-height">
        <div class="col-md-2 clau-canvi">
          <a style="cursor: pointer;" (click)="onChangePropietari(clau._id)"><img src="http://via.placeholder.com/100x100"></a>
        </div>
        <div class="col-md-6">
          <app-clau-item [clau]="clau" sid="{{clau._id}}"></app-clau-item>
        </div>
        <div class="col-md-4">
          <app-membre-item sid="{{clau.propietari}}"></app-membre-item>
        </div>
      </div>
    </li>
  </ul>
