<div class="row">
  <div class="col-md-12">
    <h1>{{clau.nom}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <h5>{{clau.descripcio}}</h5>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form [formGroup]="clauForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input class="form-control" type="text" id="nom" formControlName="nom">
      </div>
      <span *ngIf="!clauForm.get('nom').valid && clauForm.get('nom').touched" class="help-block">
        Aquest camp ha de tenir entre {{MIN_LENGTH_NOM}} i {{MAX_LENGTH_NOM}} caràcters
      </span>
      <div class="form-group">
        <label for="descripcio">Descripció</label>
        <input class="form-control" type="text" id="descripcio" formControlName="descripcio">
      </div>
      <span *ngIf="!clauForm.get('descripcio').valid && clauForm.get('descripcio').touched" class="help-block">
        Aquest camp ha de tenir entre {{MIN_LENGTH_DESCRIPCIO}} i {{MAX_LENGTH_DESCRIPCIO}} caràcters
      </span>
      <div class="col-md-3 col-md-offset-9">
        <button class="btn btn-success" type="submit" [disabled]="!clauForm.valid">Desa</button>
        <button class="btn btn-warning" (click)="onCancel()">Cancela</button>
      </div>
    </form>
  </div>
</div>
