.clau{
  background-color: #97a8b9;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.clau:hover {
    background-color: #d3d3d3;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.clau a{
  background-color: white;
  text-decoration: none;
  text-align: center;

}
.clau a:hover{
  color:black;
  text-decoration: none;
  text-align: center;
}
